.habits-section, .goals-section {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  h2 {
    grid-column: span 12;
  }
}

.habits-section {
  align-self: start;
}
  
.habit-item, .goal-item {
  grid-column: span 6;
}